<div [ngSwitch]="alert">
    <div *ngSwitchCase="'succes'">succes</div>
    <div *ngSwitchCase="'info'">info</div>
    <div *ngSwitchCase="'warning'">warning</div>
    <div *ngSwitchDefault>danger </div>
</div>

<button type="button" (click)="alert = 'succes'" class="btn btn-default"> Cambiar </button>
<div [ngSwitch]="alert">
    <div *ngSwitchCase="'succes'" class="alert alert-success" role="alert">
        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-primary" role="alert">
        A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
</div>